<% content_for :seo do %>
  <title><%= @article.title %></title>
  <meta name="description" content="<%= @article.meta_description %>">
<% end %>
<div class="art_body">
  <h3 id="art_date"><%= raw I18n.l(@article.created_at, :format=> "%A  %d %b %Y") %></h3>
  <div class="art_content">
    <h2><%= @article.title %></h2>
    <%= link_to(image_tag( @article.photo.url(:small)), @article.photo.url, :class => "fancybox art_face") unless @article.photo_file_name.nil? %>
    <%= raw @article.content.gsub('<div style="page-break-after: always;">', '<br />') %>
  </div>
  <%= render partial: "/pages/partials/gallery", locals: { gallery: @article.gallery} if @article.gallery_id %>
  <div style="clear: both"></div>
</div>
  <div style="clear: both"></div>
<% content_for :custom_styling do %>
  <%= javascript_include_tag "jquery.fancybox", "jquery.mousewheel-3.0.6.pack"%>
  <script type="text/javascript">
		$(document).ready(function() {
			$('.fancybox').fancybox();
		});
	</script>
<% end %>
<% content_for :header do %>
  <%= stylesheet_link_tag "pages/article" %>
  <%= stylesheet_link_tag "jquery.fancybox", "custom_gallery"%>
<% end %>

