<% content_for :seo do %>
  <title><%= @page.title %></title>
  <meta name="description" content="<%= @page.meta_description %>">
<% end %>
<%= raw @page.content %>
<%= render partial: "/pages/partials/category", locals: { category: @page.category} if @page.category_id %>
<%= render partial: "/pages/partials/gallery", locals: { gallery: @page.gallery} if @page.gallery_id %>

