<%= render "admin/partials/form_validations" %>
	<%= form_for([:admin, @category], :html => { :class => "form_validations" }) do |f| %>
	<div class="module_content">
	  <% if @category.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this page from being saved:</h2>
	      <ul>
	      <% @category.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  	<%= f.label :name %>
	  	<%= f.text_field :name, :class =>"validate[required]" %>

	</div>
	<div style="clear: both"></div>
  	<br />
	  <footer>
	  	<div class="submit_link">
	    	<%= f.submit nil, :class => "alt_btn" %>
	  	</div>
	   </footer>
	<% end %>

